iframe {
  display: block;
  border: none;
  height: 100vh;
  width: calc(100% + 18px);
}
.frame {
  overflow-x: hidden;
}

.j{
    width: 200px; height:90px; bottom: 0;
    position: fixed;background-color:#fff; 
    left: 0; border-radius: 0 50px 0 0;
  }
  .j-1{
    width: 20px; height:100%; bottom: 0;
    position: fixed;background:#fff; 
    left: 0;
  }
  .k{
    width: 200px; height:90px; bottom: 0;
    position: fixed;background-color:#fff;
    right: 0; border-radius: 50px 0 0 0;
  }
  .k-1{
    width: 20px; height:100%; bottom: 0;
    position: fixed;background:#fff;
    right: 0;
  }
